# Template Visual Studio Folder
.vs/
Product/.vs

# Template data for Examwork
.temp/

# Template Microsoft Office files
Documents/~*
Documents/*.tmp
Presentation/~*
Presentation/*.tmp
Schemes/*.~vsdx

# Metadata and libraries on project "Shedule"
Product/Schedule/bin
Product/Schedule/obj

# Metadata and libraries on project "GenTestData"
Product/GenTestData/bin
Product/GenTestData/obj