# Template Visual Studio Folder
.vs/
Product/.vs

# Template data for Examwork
.temp/
.screenshots/

# Template Microsoft Office files
Documents/*.tmp
Presentation/*.tmp

# Template Microsoft Office files
Schemes/*.~vsdx
Documents/~*

# Metadata and libraries on project "Shedule"
Product/Schedule/bin
Product/Schedule/obj

# Metadata and libraries on project "GenTestData"
Product/GenTestData/bin
Product/GenTestData/obj